 
<% if user_signed_in? %>
<div><%= current_user.email %></div>
<div>roles: <%= current_user.roles.map(&:name).join(", ") %></div>
<div><%= link_to 'Log out', destroy_user_session_path, method: :delete %></div>
<% end %>
 